.jbrowse .translatedSequence.frame2 {
    background-color: lightgreen;
}

.jbrowse .translatedSequence.frame1 {
    background-color: pink;
}

.jbrowse .translatedSequence.frame0 {
    background-color: lightblue;
}

.translatedSequence.frame2 {
    background-color: lightgreen;
}

.translatedSequence.frame1 {
    background-color: pink;
}

.translatedSequence.frame0 {
    background-color: lightblue;
}
